<div class="card p-4">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-md-8">
                                <h1 style="font-weight: bold;">Page list</h1>
                            </div>
                            <div class="col-md-4">
                                <a href="{% url "company:create_page" %}" class="btn btn-primary">Create New Page</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!---->
                {% for page in all_pages %}

                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="{{ page.logo.url }}" class="img-fluid rounded-start" alt="..." style="height:100%" />
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{ page.name }}</h5>

                                <div class="row">
                                    <div class="col-md-6">
                                        <p><strong>Headline: </strong> {{ page.headline }}</p>
                                    </div>

                                    <div class="col-md-6">
                                        <p><strong>Website: </strong> <a href="{{ page.website }}">{{ page.website }}</a></p>
                                    </div>

                                    <div class="col-md-6">
                                        <p><strong>Industry: </strong> {{ page.industry }}</p>
                                    </div>

                                    <div class="col-md-6">
                                        <p><strong>Organization Type: </strong> {{ page.organization_type }}</p>
                                    </div>

                                    <div class="col-md-6">
                                        <p><strong>Jobs: </strong> <a href="">{{ page.job_post_company.count }}</a></p>
                                    </div>

                                    <div class="col-md-6">
                                        <p><strong>Followers: </strong>{{ page.page_following.count }}</p>
                                    </div>
                                </div>

                                
                                <div class="row" style="margin-top: 2rem">
                                    {% if page.user == request.user %}
                                    <div class="col-md-3">
                                        <a href="{% url "company:create_job" page.id %}" class="btn btn-primary">Create Job</a>
                                    </div>

                                    <div class="col-md-2">
                                        <a href="{% url "company:create_job" page.id %}" class="btn btn-success">Jobs</a>
                                    </div>

                                    <div class="col-md-2">
                                        <a href="{% url "company:edit_page" page.id %}" class="btn btn-warning">Edit</a>
                                    </div>

                                    <div class="col-md-2">
                                        <a href="{% url "company:delete_page" page.id %}" class="btn btn-danger">Delete</a>
                                    </div>

                                    {% endif %}

                                    <div class="col-md-2">
                                        <a href="{% url "company:detail_page" page.id %}" class="btn btn-info">View</a>
                                    </div>
                                </div>
                                

                                <!---->
                            </div>
                        </div>
                    </div>
                </div>

                {% endfor%}