{% extends "authapp/auth_base.html" %}

<!---->
{% load static %}
<!---->

{% block title %}Create New Account{% endblock title %}

<!---->
{% block content %}
<main>
    <div class="container">
        
        <section class="section register d-flex flex-column align-items-center justify-content-center py-4">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-6 d-flex flex-column align-items-center justify-content-center">
                        <div class="d-flex justify-content-center py-4">
                            <a href="index.html" class="logo d-flex align-items-center w-auto">
                                <img src="{% static 'assets/img/logo.png' %}" alt="" />
                                <span class="d-none d-lg-block">Linkedin</span>
                            </a>
                        </div>
                        <!-- End Logo -->

                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="pt-4 pb-2">
                                    <h5 class="card-title text-center pb-0 fs-4">Reset Password</h5>
                                    <p class="text-center small">Enter your Email Address</p>
                                </div>

                                    <form class="row g-3 needs-validation" method="POST" novalidate>
                                        {% csrf_token %}

                                        <!---->
                                        {% if form.non_field_errors %}
                                        <!---->
                                        {% for error in form.non_field_errors %}
                                        <!---->
                                        <div style="color: red; font-size: 14px">{{ error }}</div>
                                        <!---->
                                        {% endfor %}
                                        <!---->
                                        {% endif %}
                                        <!---->

                                        {% for field in form %}
                                        <div class="col-md-12 mb-3">
                                            <label for="{{ field.auto_id }}" class="form-label">{{ field.label }}</label>
                                            {{ field }}
                                        </div>
                                        {% endfor %}

                                        <input type="submit" value="Send Reset Link" class="btn btn-primary mb-4" />

                                        <div class="col-12">
                                            <p class="small mb-0">
                                                Don't have account? <a href="{% url "authapp:register" %}">Create an account</a>
                                            </p>
                                        </div>
                                    </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
{% endblock content %}
<!---->

<!--SECTION-->

