{% extends "base.html" %}

<!---->

{% load static %}

<!---->

{% block title %}Posts{% endblock title %}

<!---->

{% block content %}
<main id="main" class="main">
    <section class="section dashboard">
        <div class="row justify-content-center column-gap-5">
            <!-- NOTE :             posts             -->

            <div class="col-md-5">
            {% for post in posts %}

            <div class="card">
                <div class="row p-3">
                    <div class="col-2">
                        <a href="{% url "dashboard:profile" post.user.username %}">
                            <img
                                src="{{ post.user.profile.profile_image.url }}"
                                alt="user_profile_photo"
                                class="rounded-circle"
                                style="width: 45px; height: 45px"
                            />
                        </a>
                    </div>

                    <div class="col-5">
                        <div><strong><a href="{% url "dashboard:profile" post.user.username %}">{{ post.user.username }}</a></strong></div>
                        <div style="color: #666;">{{ post.user.first_name }} {{ post.user.last_name }}</div>
                    </div>

                    <div class="col-5">
                        <div style="color: #666;">{{ post.last_updated|date:"d-M-Y" }}</div>
                    </div>
                </div>

                <img src="{{ post.image1.url }}" class="card-img-top" alt="..." />

                <div class="card-body pt-3">
                    <p class="card-text" style="color: #555;">{{ post.description }}</p>
                </div>

                <hr />    

                <div class="row" style="padding: 0 2rem; padding-bottom: 1rem; font-size: 18px">
                    <div class="col-4">

                        <a href="{% url "post:detail_post" post.id %}">
                            <i class="bi bi-hand-thumbs-up"></i> {{ post.like_post.count }}
                        </a>

                    </div>

                    <div class="col-4">
                        <a href="{% url "post:detail_post" post.id %}" ><i class="bi bi-chat-dots"></i> {{ post.comment_post.count }}</a>
                    </div>

                    <div class="col-4">
                        <a href="{% url "post:detail_post" post.id %}"><i class="bi bi-bookmark"></i> {{ post.bookmark_post.count }}</a>
                    </div>
                </div>
            </div>

            {% empty %}

            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        Have not posted any post yet.
                    </div>
                </div>
            </div>

            {% endfor %}
            </div>
        </div>
    </section>
</main>

{% endblock content %}
