<div class="col-lg-6">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-11">
                    <h5 class="card-title"><i class="bi bi-person-workspace"></i> &nbsp; Skills ({{skills.count}})</h5>
                </div>

                <div class="col-1 p-2">
                    {% if request.user == user %}
                    <a href="{% url "dashboard:skill_add" %}" style="font-size: 20px"><i class="bi bi-plus-lg"></i></a>
                    {% endif %}
                </div>
            </div>

            {% for skill in skills %}            
                <span class="badge bg-warning text-dark m-2" style="font-size: 1rem">
                    {{ skill.skill }} 
                        {% if request.user == skill.user %}
                            <a href="{% url "dashboard:skill_edit" skill.id %}" style="padding-left: 1rem; padding-right: 1rem; color: green"><i class="bi bi-pencil-square"></i></a>
                            <a href="{% url "dashboard:skill_delete" skill.id %}"  style="color: red"><i class="bi bi-trash3"></i></a>
                        {% endif %}
                </span>
            {% endfor %}
        </div>
    </div>
</div>
